*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    height: 98vh;
    width: 100%;
    margin: 0;
}

body{
    background-color: hsl(257, 40%, 49%);
    background-image: url(./images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
}


.container{
    max-width: 1320px;
    margin: 0 auto;
    height: 98vh;
}

.wrapper{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 0;
    margin: 0 2rem;
}

.header img{
    width: 190px;
    padding-bottom: 20px;
}

.main{
    display: flex;
    align-items: center;
    gap: 40px
}

.text {
    color: white;
}

.text h1{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

.text p{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.8;
    margin-bottom: 30px;
}

.text a{
    text-decoration: none;
    color: hsl(257, 40%, 49%);
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    padding: 13px 50px;
    border-radius: 25px;
    box-shadow: 0 8px 17px -8px rgb(0,0,0,.8);
    transition: all .3s ease;
}

.text a:hover{
    background-color: hsl(300, 69%, 71%);
    color: white;
}

.social{
    text-align: right;
}

.social a i{
    color: white;
    font-size: 20px;
    position: relative;
    transition: all .3s ease;
    margin: 0;
}

.social a:not(first-child){
    margin-left: 2rem;
}

.social a i::after{
    content: '';
    position: absolute;
    height: 40px;
    width: 40px;
    border: 2px solid white; 
    border-radius: 50%;
    left: -12.5px;
    bottom: -12px;
    transition: all .3s ease;
}


.social a:nth-child(2){
    margin-left: 2.4rem;
}


.social a i:hover{
    color:hsl(300, 69%, 71%);
}

.social a i:hover::after{
    border: 2px solid hsl(300, 69%, 71%);
}

@media only screen and (max-width: 1440px){
    .mockup img{
        width: 100%;
    }
}

@media only screen and (max-width: 768px){
    body{
        background-image: url(images/bg-mobile.svg);
    }
    
    .main{
        flex-direction: column;
        text-align: center;
    }

    .social{
        margin-top: 50px;
        text-align: center;
    }

    .text h1{
        font-size: 26px;
    }

    .text a{
        padding: 10px 70px;
    }
}

.attribution, .attribution a, .attribution a:active{
    color: white;
    font-family: "Open Sans", sans-serif;
}

