@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: hsl(30, 38%, 92%);
}

main{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin: 20px;
}

.left{
  max-width: 100%;
  height: 385px;
  background-image: url(./images/image-product-desktop.jpg);
  border-radius: 12px 0 0 12px;
  background-size: cover;
  background-position: center;
}

.left, .right{
  flex: 1 1 300px;
}

.right{
  height: 100%;
  background-color: white;
  padding: 20px;
  border-radius: 0 12px 12px 0;
}

#perfume {
  letter-spacing: 3px;
  font-size: .8em;
  color: hsl(228, 12%, 48%);
  font-weight: bold;
}

.right h1{
  font-family: 'Fraunces', sans-serif;
  margin: 10px 0 20px 0;
  font-size: 1.8rem;
}

.right p{
  color: hsl(228, 12%, 48%);
  line-height: 24px;
  margin-bottom: 10px;
}

.price{
  display: flex;
  align-items: center;
  gap: 20px;
}

.price h2{
  margin: 20px 0;
  font-family: 'Fraunces', sans-serif;
  color: hsl(158, 36%, 37%);
  font-size: 1.8rem;
}

.price span{
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: hsl(158, 36%, 37%);
  border: none;
  gap: 10px;
  color: white;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
}

@media (max-width: 639px){
  main{
    max-width: 450px;
  }

  .left{
    background-image: url(./images/image-product-mobile.jpg);
    border-radius: 12px 12px 0 0;
    height: 240px;
  }

  .right{
    border-radius: 0 0 12px 12px;
  }
}